<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <ng-container *ngFor="let server of servers">
        <a
          [routerLink]="['/servers', server.id, 'edit']"
          class="list-group-item"
        >
          {{ server.name }}
        </a>
      </ng-container>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <app-edit-server></app-edit-server>
    <hr />
    <app-server></app-server>
    <button class="btn btn-Primary" (click)="onrefresh()">Refresh me</button>
  </div>
</div>
